<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% block title %}My Xmas Gift List{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="viewport" content="width=device-width,initial-scale=1">

        <!-- CSS concatenated and minified via ant build script-->
        <link rel="stylesheet" href="/stylesheets/screen.css" media="screen">
        <link rel="stylesheet" href="/stylesheets/custom.css" media="screen">
        <!-- end CSS-->
    </head>

    <body>
        {% block container %}
        <div id="container">
            {% block header %}
            <header class="clearfix">
                {% block header_content %}
                <h1>My Xmas Gift List</h1>
                <p class="grid_8">
                    Ciao ,
                </p>
                <p class="grid_8">
                    Anche Babbo Natale si è modernizzato e finalmente gli puoi 
                    scrivere la famosa «letterina» direttamente su Facebook!
                </p>
                <p class="grid_8">
                    Gli aiutanti di babbo natale aggiungeranno il regalo 
                    alla lista . Ricorda che puoi aggiungere un massimo di 
                    5 regali (solo se te li meriti).
                </p>
                {% endblock %}
            </header>
            {% endblock %}
            {% block content%}
            <section id="guides"></section>
            {% endblock %}
            {% block footer %}
            <footer>
            </footer>
            {% endblock %}
        </div> <!--! end of #container -->
        {% endblock %}
        {% block fb_js_sdk%}
        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '{{facebook.appId}}', // App ID
                    channelURL : '//sf2.mxgl/channel.php', // Channel File
                    status     : true, // check login status
                    cookie     : true, // enable cookies to allow the server to access the session
                    oauth      : true, // enable OAuth 2.0
                    xfbml      : true  // parse XFBML
                });
                
                FB.Event.subscribe('auth.login', function(response) {
                    // Reload the entire page. Could also do an Ajax request and dynamically
                    // update the already loaded page.
                    window.location.reload(true);
                });
                {% block post_init_js_code %}{% endblock %}
            };

            {% block js_async_load %}
            // Load the SDK Asynchronously
            (function(d){
                var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
                js = d.createElement('script'); js.id = id; js.async = true;
                js.src = "//connect.facebook.net/en_US/all.js";
                d.getElementsByTagName('head')[0].appendChild(js);
            }(document));
            {% endblock %}
        </script>
        {% endblock %}
    </body>
</html>
