input.gift-url{
    height: 18px;
    width:  400px;
    margin-right: 50px;
}

#list dl dt{
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    margin: 0 0 10px 0;
}

#list dl dd{
    font-size: 11px;
    border-bottom: 1px solid #ccc;
    margin: 0 0 15px 0;
}

#list dl dd img{
    float:  left;
    margin: 0 10px 10px 0;
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
}